# SQLite

In [38]:
import sqlite3

In [39]:
## Connect to an SQLite database
connection=sqlite3.connect('emp.db')
connection

In [40]:
cursor=connection.cursor()

In [ ]:
## Create a Table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
''')

## Commit the changes
connection.commit()

In [49]:
cursor.execute('''
Select * from employees
    
''')

In [50]:
cursor.execute("""
INSERT INTO employees (name, age, department)
VALUES
    ('Jen', 20, 'Data Scientist'),
    ('Bob', 25, 'Engineering'),
    ('Charlie', 35, 'Finance')
""")

connection.commit()

In [51]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Jen', 20, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [52]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Jen"
''')

connection.commit()

In [53]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Jen', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [54]:
## Delete the data from the table
cursor.execute('''
Delete from employees
where name ='Bob'
''')

connection.commit()

In [55]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Jen', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [56]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [57]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [58]:
## close the connection
connection.close()